[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flexmock = "*"
pytest = "*"
pytest-timeout = "*"
pytest-mypy = {version = "*", markers = "python_version >= '3.5' and python_version < '3.8'"}
pytest-venv = "*"
importlib-resources = "*"

[packages]
toml = "*"
