on:
  push:
    branches:
    - master
    - ci-test
  pull_request:
    branches:
    - master

name: Run Tox tests on Linux

jobs:
  tox_test:
    name: Tox test
    steps:
    - name: Checkout micropipenv
      uses: actions/checkout@v2
    - name: Run Tox tests
      id: test
      uses: fedora-python/tox-github-action@main
      with:
        tox_env: ${{ matrix.tox_env }}
        dnf_install: /usr/bin/make
    strategy:
      fail-fast: false
      matrix:
        tox_env: [
          # This list has to be maintained manually :(
          # You can get it from `tox -l | grep -v "^ROOT:" | sed "s/$/,/"`
          py36-pip90-toml,
          py36-pip203-toml,
          py36-pip213-toml,
          py36-pip90-pytoml,
          py39-pip90-toml,
          py39-pip203-toml,
          py39-pip213-toml,
          py39-piplatest-toml,
          py39-pipgit-toml,
          py39-pip90-pytoml,
          py39-piplatest-pytoml,
          py39-pipgit-pytoml,
          py310-pip203-toml,
          py310-pip213-toml,
          py310-piplatest-toml,
          py310-pipgit-toml,
          py310-piplatest-pytoml,
          py310-pipgit-pytoml,
          py310-piplatest-tomli,
          py310-pipgit-tomli,
          py311-pip203,
          py311-pip213,
          py311-piplatest,
          py311-pipgit,
          py312-pip233,
          py312-piplatest,
          py312-pipgit,
          py313-pip233,
          py313-pip243,
          py313-piplatest,
          py313-pipgit,
          py314-pip233,
          py314-pip243,
          py314-piplatest,
          py314-pipgit,
          mypy,
        ]

    # Use GitHub's Linux Docker host
    runs-on: ubuntu-latest
