on:
  push:
    branches:
    - master
    - ci-test
  pull_request:
    branches:
    - master

name: Run Tox tests on Windows

jobs:
  tox_test:
    name: Tox test
    steps:
    - name: Checkout micropipenv
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install tox
      run: python -m pip install tox
    - name: Run Tox tests
      id: test
      run: tox -e ${{ matrix.tox_env }}

    runs-on: windows-latest
    strategy:
      matrix:
        # This has to be manually configured because Windows images contains
        # more than just the main Python and there is no easy way how to tell
        # tox to ignore the non-main interpreters.
        # The list can be obtained by `tox -l | .github/workflows/prep_windows_matrix.py`
        include:
          - python_version: "3.6"
            tox_env: "py36-pip90-toml"
          - python_version: "3.6"
            tox_env: "py36-pip203-toml"
          - python_version: "3.6"
            tox_env: "py36-pip213-toml"
          - python_version: "3.6"
            tox_env: "py36-pip90-pytoml"
          - python_version: "3.9"
            tox_env: "py39-pip90-toml"
          - python_version: "3.9"
            tox_env: "py39-pip203-toml"
          - python_version: "3.9"
            tox_env: "py39-pip213-toml"
          - python_version: "3.9"
            tox_env: "py39-piplatest-toml"
          - python_version: "3.9"
            tox_env: "py39-pipgit-toml"
          - python_version: "3.9"
            tox_env: "py39-pip90-pytoml"
          - python_version: "3.9"
            tox_env: "py39-piplatest-pytoml"
          - python_version: "3.9"
            tox_env: "py39-pipgit-pytoml"
          - python_version: "3.10"
            tox_env: "py310-pip203-toml"
          - python_version: "3.10"
            tox_env: "py310-pip213-toml"
          - python_version: "3.10"
            tox_env: "py310-piplatest-toml"
          - python_version: "3.10"
            tox_env: "py310-pipgit-toml"
          - python_version: "3.10"
            tox_env: "py310-piplatest-pytoml"
          - python_version: "3.10"
            tox_env: "py310-pipgit-pytoml"
          - python_version: "3.10"
            tox_env: "py310-piplatest-tomli"
          - python_version: "3.10"
            tox_env: "py310-pipgit-tomli"
          - python_version: "3.11"
            tox_env: "py311-pip203"
          - python_version: "3.11"
            tox_env: "py311-pip213"
          - python_version: "3.11"
            tox_env: "py311-piplatest"
          - python_version: "3.11"
            tox_env: "py311-pipgit"
          - python_version: "3.12"
            tox_env: "py312-pip233"
          - python_version: "3.12"
            tox_env: "py312-piplatest"
          - python_version: "3.12"
            tox_env: "py312-pipgit"
          - python_version: "3.13"
            tox_env: "py313-pip233"
          - python_version: "3.13"
            tox_env: "py313-pip243"
          - python_version: "3.13"
            tox_env: "py313-piplatest"
          - python_version: "3.13"
            tox_env: "py313-pipgit"
          - python_version: "3.14"
            tox_env: "py314-pip233"
          - python_version: "3.14"
            tox_env: "py314-pip243"
          - python_version: "3.14"
            tox_env: "py314-piplatest"
          - python_version: "3.14"
            tox_env: "py314-pipgit"
          - python_version: "3.14"
            tox_env: "mypy"
